html {
    font-family: $font_family;
    background: color(main);
    max-width: 100vw;
}
* {
    margin: 0;
    padding: 0;
}
.hero {
    width: 100vw;
    height: 100vh;
    background: url('/imgs/hero_back.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    .logo {
        max-height: 10vh;
    }
    button {
        background-color: color(dark);
        color: color(white);
        padding:1vh;
        border-radius: 10px;
        &:hover {
            color: color(dark);
            background-color: color(secondary);
            cursor: pointer;
        }
    }
}
.about {
    position: sticky;
    min-height: 70vh;
    background-color: color(dark_main);
    .about_box {
        padding-top: 5vh;
        padding-bottom: 5vh;
        display: flex;
        gap: 2vh;
        justify-content: space-around;
        .big_beam {
            padding-top: 25vh;
            max-height: 35vh;
        }
        .info_block {
            display: flex;
            flex-direction: column;
            height: 100%;
            text-align: center;
            align-items: center;
            img {
                border-radius: 10px;
                max-width: 35vw;
            }
            .head {
                padding-top: 12vh;
                color: color(white);
                font-size: 2.1vh;
            }
            .desc {
                font-size: 1.8vh;
                max-width: 35vw;
                padding-top: 1.4vh;
                padding-bottom: 9vh;
                color: color(gray);
            }
        }    
    }
}
.container {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    max-width: 1440px;
    background-position: center;
}
.logo {
    min-height: 20vh;
    transition: all 1.5s;
    &:hover {
        min-height: 22vh;
    }
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu {
    display: flex;
    padding-left: 5%;
    gap: 8%;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    font-size: 2.1vh;
    font-family: "Comfortaa";
    a {
        color: color(white);
        cursor: pointer;
        text-decoration: none;
        &:hover {
            color: color(dark);
        }
        }
}
.centered {
    text-align: center;
    justify-content: center;
}
.padding_content {
    padding-top: 5vh;
    padding-bottom: 5vh;
    align-items: end;
}
.foil_roll {
    height: 45vh;
}
.head {
    .header {
        color: color(white);
        font-style: bold;
        font-size: 4vh;
    }
    .description {
        padding-top: 2vh;
        color: color(gray);
        margin-bottom: 5vh;
    }
}

@include media ('<=tablet') {
    .menu {
        flex-direction: column;
        gap: 1vh
    }
    .about {
        .about_box {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .big_beam {
                padding-top: 0;
                transform: rotate(45deg);
                max-height: 17vh;
            }
            .info_block {
                img {
                    max-width: 65vw;
                }
                .head {
                    padding-top: 4vh;
                }
                .desc {
                    padding-bottom: 4vh;
                } 
            }
        }
    }
}
