html {
    font-family: $font_family;
    background: color(main);;
}
* {
    margin: 0;
    padding: 0;
}
.hero {
    width: 100vw;
    height: 100vh;
    background: url('/imgs/hero_back.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    .logo {
        max-height: 10vh;
    }
    .hero_a {
        font-style: bold;
        font-size: 1.9vh;
        background-color: color(dark);
        color: color(white);
        padding: 1vh;
        border-radius: 10px;
        transition: all 0.8s;
        &:hover {
            color: color(dark);
            background-color: color(secondary);
            cursor: pointer;
        }
    }
}
.about {
    position: sticky;
    min-height: 70vh;
    background-color: color(dark_main);
    .about_box {
        padding-top: 5vh;
        padding-bottom: 5vh;
        display: flex;
        gap: 2vh;
        justify-content: space-around;
        .big_beam {
            padding-top: 25vh;
            max-height: 35vh;
        }
        .info_block {
            display: flex;
            flex-direction: column;
            height: 100%;
            text-align: center;
            align-items: center;
            img {
                border-radius: 10px;
                max-width: 35vw;
                box-shadow: 1px 1px color(main);
                border-color: color(maim);
            }
            .head {
                padding-top: 12vh;
                color: color(white);
                font-size: 2.1vh;
            }
            .desc {
                font-size: 1.8vh;
                max-width: 35vw;
                padding-top: 1.4vh;
                padding-bottom: 9vh;
                color: color(gray);
            }
        }    
    }
}
.services {
    position: sticky;
    min-height: 70vh;
    background-color: color(dark);
    .head {
        .header {
            padding-top: 1.5vh;
            color: color(main);
            font-style: bold;
            font-size: 4vh;
        }
        .description {
            padding-top: 1.5vh;
            color: color(white);
            margin-bottom: 5vh;
            font-size: 1.8vh;
        }  
    }
    .service_box {
        display: flex;
        justify-content: space-between;
        gap: 1vw;
        .service_block {
            display: flex;
            flex-direction: column;
            padding-top: 1vh;
            padding-bottom: 2vh;
            padding-left: 4%;
            padding-right: 3%;
            background-color: color(back_gray);
            svg {
                padding-top: 1.5vh;
                height: 10vh;
                
            }
            .head {
                padding-top: 1.5vh;
                text-align: left;
                color: color(main);
                font-size: 2.1vh;
            }
            .desc {
                font-size: 1.8vh;
                max-width: 23vw;
                padding-top: 1.4vh;
                color: color(white);
            }
        }    
    }
}
.container {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
    background-position: center;
}
.logo {
    min-height: 20vh;
    transition: min-height 0.8s;
    &:hover {
        min-height: 21vh;
    }
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu {
    display: flex;
    padding-left: 5%;
    gap: 8%;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    font-size: 2.1vh;
    text-align: center;
    font-family: "Comfortaa";
    .menu_a {
        color: color(white);
        cursor: pointer;
        text-decoration: none;
        transition: color 0.8s;
        &:hover {
            color: color(dark);
        }
        }
}
.centered {
    text-align: center;
    justify-content: center;
}
.padding_content {
    padding-top: 5vh;
    padding-bottom: 5vh;
    align-items: end;
}
.foil_roll {
    height: 45vh;
}
.head {
    .header {
        color: color(white);
        font-style: bold;
        font-size: 4vh;
    }
    .description {
        padding-top: 2vh;
        color: color(gray);
        margin-bottom: 5vh;
        font-size: 1.8vh;
    }
}

@include media ('<=tablet') {
    .menu {
        flex-direction: column;
        gap: 1vh
    }
    .about {
        .about_box {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .big_beam {
                padding-top: 0;
                transform: rotate(45deg);
                max-height: 17vh;
            }
            .info_block {
                img {
                    max-width: 65vw;
                }
                .head {
                    padding-top: 4vh;
                }
                .desc {
                    padding-bottom: 4vh;
                } 
            }
        }
    }
    .services {
        .service_box {
            flex-direction: column;

            .service_block {
                .desc {

                    max-width: none;
                }
            }
        }
    }
}
